[submodule "Character Morpher"]
	path = Character Morpher
url=https://github.com/Prolo1/Character-Morpher.git
[submodule "FashionLine"]
	path = FashionLine
url=https://github.com/Prolo1/Fashion_Line.git
[submodule "LogSilencer"]
	path = LogSilencer
url=https://github.com/Prolo1/Log-Silencer.git