[submodule "Character Morpher"]
	path = Character Morpher
	url = D:\\Games\\Illusion\\Mod Projects\\Mod Collection Repo\\Character Morpher
[submodule "FashionLine"]
	path = FashionLine
	url = D:\\Games\\Illusion\\Mod Projects\\Mod Collection Repo\\FashionLine
[submodule "LogSilencer"]
	path = LogSilencer
	url = D:\\Games\\Illusion\\Mod Projects\\Mod Collection Repo\\LogSilencer
